.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1234px;
  position: relative;
  overflow: hidden;
}
.title {
  height: auto;
  position: absolute;
  left: 53px;
  top: 189px;
  overflow: visible;
}
.div2 {
  position: absolute;
  inset: 0;
}
.card {
  background: #f2f4f6;
  border-radius: 15px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 3px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1423px;
  height: 790px;
  position: absolute;
  left: 45px;
  top: 373px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.div3 {
  width: 1259px;
  height: 19.41px;
  position: absolute;
  left: 105px;
  top: 405px;
}
.div4 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 47px;
  top: 0.31px;
  width: 61px;
  height: 17px;
}
.div5 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 179px;
  top: 0px;
  width: 93px;
  height: 17px;
}
.div6 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1010px;
  top: 0px;
  width: 92px;
  height: 17px;
}
.div7 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1213px;
  top: 0px;
  width: 92px;
  height: 17px;
}
.div8 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 726px;
  top: 0px;
  width: 92px;
  height: 17px;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 407px;
  top: 0px;
  width: 36px;
  height: 17px;
}
.div10 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1280px;
  height: 641.02px;
  position: absolute;
  left: 112px;
  top: 442.64px;
}
.div11 {
  flex-shrink: 0;
  width: 1280px;
  height: 41.75px;
  position: relative;
}
.rectangle-1194 {
  background: #ffffff;
  border-radius: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 2.5px;
  width: 1280px;
  height: 41.75px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div12 {
  color: #595959;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 341px;
  top: 13.36px;
  width: 571.73px;
  height: 25px;
}
.div13 {
  color: #595959;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 617px;
  top: 13.36px;
  width: 571.73px;
  height: 25px;
}
.div14 {
  color: #595959;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 1007px;
  top: 13.36px;
  width: 139.67px;
  height: 24.17px;
}
._2025-5-20 {
  color: #595959;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 35px;
  top: 12.36px;
  width: 89px;
  height: 21px;
}
._271 {
  color: #595959;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 162px;
  top: 13.36px;
  width: 53px;
  height: 21px;
}
.el-paper-clip-alt {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt2 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt3 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt4 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt5 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt6 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt7 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt8 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt9 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt10 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt11 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.el-paper-clip-alt12 {
  width: 29px;
  height: 29px;
  position: absolute;
  left: 1209px;
  top: 6.36px;
  overflow: visible;
  aspect-ratio: 1;
}
.frame-135 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 572px;
  position: absolute;
  left: 83px;
  top: 175px;
}
.frame-85 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div15 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  width: 294px;
}
.div16 {
  color: #949494;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  width: 728px;
}
.div17 {
  width: 285px;
  height: 44px;
  position: absolute;
  left: 1184px;
  top: 200px;
}
.div18 {
  width: 10.88%;
  height: 70.45%;
  position: absolute;
  right: 86.32%;
  left: 2.81%;
  bottom: 25%;
  top: 4.55%;
  overflow: visible;
}
.frame-47 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 265px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.mdi-home-circle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.frame-51 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 224px;
  height: 22px;
  position: relative;
}
.div19 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 51px;
  top: 10px;
  width: 119px;
  height: 22px;
}
.div20 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 158px;
  top: 10px;
  width: 117px;
  height: 22px;
}
.div21 {
  width: 337px;
  height: 23px;
  position: absolute;
  left: 608px;
  top: 1111px;
}
.frame-134 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 52px;
  top: 0px;
}
.frame-132 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 205px;
  position: relative;
}
.frame-129 {
  flex-shrink: 0;
  width: 11px;
  height: 23px;
  position: relative;
}
.frame-122 {
  background: #4b65a2;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 23px;
  position: absolute;
  left: -11px;
  top: 0px;
}
._1 {
  color: #ffffff;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-1222 {
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 23px;
  position: relative;
}
._2 {
  color: #3a4788;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-131 {
  flex-shrink: 0;
  width: 20px;
  height: 23px;
  position: relative;
}
.frame-1223 {
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._3 {
  color: #3a4788;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-1342 {
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.frame-1224 {
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div22 {
  color: #3a4788;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-133 {
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.frame-1225 {
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._10 {
  color: #3a4788;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-124 {
  border-radius: 5px;
  padding: 8px 20px 8px 19px;
  width: 25px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-127 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 1.55px;
  top: 1.82px;
  overflow: visible;
}
.frame-125 {
  width: 25px;
  height: 23px;
  position: absolute;
  left: 31px;
  top: -1px;
}
.frame-1242 {
  border-radius: 5px;
  padding: 8px 20px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 23px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.vector {
  width: 47.82%;
  height: 84.17%;
  position: absolute;
  right: -19.64%;
  left: 71.82%;
  bottom: -81.39%;
  top: 97.22%;
  transform: translate(-11.95px, -19.36px);
  overflow: visible;
}
.frame-126 {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 23px;
  position: absolute;
  left: 245px;
  top: 0px;
  overflow: visible;
}
.frame-1272 {
  border-radius: 5px;
  padding: 8px 20px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 23px;
  position: absolute;
  left: 272px;
  top: 0px;
}
.frame-128 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.frame-155 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 385px;
  top: 191px;
}
.frame-153 {
  border-radius: 10px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 3px;
  padding: 8px 7px 8px 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  height: 38px;
  position: relative;
}
.div23 {
  color: #595959;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 72px;
}
.frame-1552 {
  border-radius: 10px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 3px;
  opacity: 0.5;
  padding: 8px 7px 8px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  height: 38px;
  position: relative;
}
.div24 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1643px;
  position: absolute;
  left: -68px;
  top: -22px;
}
.frame-41 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div25 {
  background: #364a79;
  padding: 10px 116px 10px 116px;
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 92px;
  position: relative;
}
.boardname {
  color: #ffffff;
  text-align: left;
  font-family: "NicoMoji-Regular", sans-serif;
  font-size: 43px;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 299.63px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div26 {
  background: #e6e7ea;
  border-radius: 10px;
  padding: 4px 4px 4px 17px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 708.12px;
  height: 42px;
  position: relative;
}
.item-1 {
  border-radius: 10px;
  padding: 0px 7px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 153px;
  height: 31px;
  position: absolute;
  left: 5px;
  top: 5px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
  overflow: hidden;
}
.div27 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 153px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-2 {
  border-radius: 10px;
  padding: 0px 12px 0px 14px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 148px;
  height: 31px;
  position: absolute;
  left: 167px;
  top: 5px;
  overflow: hidden;
}
.div28 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 162px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-4 {
  border-radius: 4px;
  padding: 0px 12px 0px 18px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 105px;
  height: 31px;
  position: absolute;
  left: 324.37px;
  top: 5px;
  overflow: hidden;
}
.div29 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 83px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-5 {
  background: #ffffff;
  border-radius: 10px;
  padding: 0px 12px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 147px;
  height: 31px;
  position: absolute;
  left: 424.37px;
  top: 5px;
  overflow: hidden;
}
.div30 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 121px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-6 {
  border-radius: 4px;
  padding: 0px 18px 0px 18px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 151px;
  height: 31px;
  position: absolute;
  left: 562.37px;
  top: 5px;
  overflow: hidden;
}
.div31 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div32 {
  background: #e6e7ea;
  border-radius: 10px;
  border-style: solid;
  border-color: #e6e7ea;
  border-width: 3px;
  padding: 8px 16px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 287.64px;
  height: 42px;
  position: relative;
}
.search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label {
  color: #828282;
  text-align: left;
  font-family: var(--presets-body2-font-family, "Inter-Regular", sans-serif);
  font-size: var(--presets-body2-font-size, 16px);
  line-height: var(--presets-body2-line-height, 24px);
  font-weight: var(--presets-body2-font-weight, 400);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.frame-176 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 454px;
  position: absolute;
  left: 78px;
  top: 305px;
}
._2-809 {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 243px;
}
._2-809-span {
  color: #000000;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}
._2-809-span2 {
  color: #000000;
  font-family: "Roboto-Regular", sans-serif;
}
._2-809-span3 {
  color: #4b65a2;
  font-family: "Roboto-Regular", sans-serif;
}
.frame-175 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 179px;
  height: 38px;
  position: relative;
}
